{{ template "base" . }} {{ define "title" }} RPS web - About {{ end }} {{ define
"content" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h2 class="py-2">Acerca de Adan Barrera Palacios</h2>
        <p>
          Soy un desarrollador apasionado por la tecnología, con experiencia en
          aplicaciones web, móviles y diseño y administración de bases de datos.
          Mi formación académica, combinada con un enfoque autodidacta, me ha
          permitido fortalecer mis habilidades y adaptarme a nuevos desafíos.
          Busco oportunidades que me permitan seguir aprendiendo, crecer
          profesionalmente y aplicar mis conocimientos para resolver problemas
          de manera innovadora.
        </p>
        <p>
          Si quieres ver otros de mis proyectos entra al enlace que esta abajo:
        </p>

        <ul class="py-3">
          <li>
            <a href="https://adanbarreraportfolio.netlify.app"
              >Link de mi pagina</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
